<div class="center jumbotron">
  <h1>Welcome to the Factory Application</h1>

  <%= link_to "Login", 'login', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("abc.jpg", alt: "Vehicle Logo") %>