
<% provide(:title, 'Sharing vehicle') %>
<h1>share Vehicle</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= form_for :test, url: attach_sharing_user_path do |f| %>
        <table class="table">

            <td><%= f.label :email %></td>
            <td><%= f.select :id, @users.collect{|u| [u.email, u.id]} %></td>
            <tr><td><%= f.submit "Share now", class: "btn btn-primary" %></td></tr>
        </table>

  <% end %>
  </div>
</div>