@import "bootstrap-sprockets";



/* universal */
.parentdiv
{
  display:inline;
  width:100%;
  height:auto;
}
.childleft
{
  float:left;
  display:inline;
  width:15%;
  height:auto;
  margin-bottom: 2%;

}
.childright{
  float:right;
  margin-right:0%;
  height:auto;
  margin-bottom: 2%;
  width:85%;

}

.imgclass{
  width:auto;
  height:150px;
}
body{
  background-image: url(abcde.jpg);
  background-repeat: no-repeat;
}

.jumbotron {
  background-image: url(abc.jpg);
  background-size: cover;
  height:700px;
  width:100%;
}
header{
  
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
/* Adding for nice typography*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
.accountmenu li{ color:#000;}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
  /* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #CC3333;
}















