<header class="navbar navbar-fixed-top navbar-inverse" style="color:red;">
  <div class="container" style="background-color: maroon;">

    <nav>
      <ul class="nav navbar-nav navbar-right">

        <li><%= link_to "Help",   '#' %></li>
        <%if logged_in? %>
            <li><%= link_to "Log Out", '/logout' %></li>
            <li><%= link_to "Home",   user_path(current_user) %></li>
        <%else%>
            <li><%= link_to "Log in", '/login' %></li>

      <%end%>
      </ul>
    </nav>
  </div>
</header>